@{
    ViewData["Title"] = "关于";
}

<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <div class="blog">
                <div class="blog_list">
                    <h2 class="style">Lorem Ipsum is simply dummy text of the printing text</h2>
                    <h5>January3rd,2017,Postedby&nbsp;<a href="#"> Rackham</a></h5>
                    <div class="blog_para">
                        <p class="para">
                            <a class="popup-with-zoom-anim" href="#smalldialog"><img src="~/images/1a .jpg" alt=""></a>
                            It is a long;
                        </p>
                        <div class="read_more1">
                            <a class="btn_s" href="#">ReadMore</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="blog_list">
                    <h2 class="style">There are many variations of passages</h2>
                    <h5>march 26th, 2017 , Posted by&nbsp;<a href="#">J.Smith</a></h5>
                    <div class="blog_para">
                        <p class="para">
                            <a class="popup-with-zoom-anim" href="#smalldialog"><img src="~/images/2a .jpg" alt=""></a>
                            Contrary to,
                        </p>
                        <div class="read_more1"> <a class="btn_s" href="#">ReadMore</a> </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="blog_list">
                    <h2 class="style">The standard chunk of Lorem Ipsum used since</h2>
                    <h5>Auguest 3rd, 2013 , Posted by&nbsp;<a href="#">H.Rackham</a></h5>
                    <div class="blog_para">
                        <p class="para">
                            <a class="popup-with-zoom-anim" href="#smalldialog"><img src="~/images/3a  .jpg" alt=""></a>
                            Contrary to popular
                        </p>
                        <div class="read_more1"> <a class="btn_s" href="#">ReadMore</a> </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>