@charset "utf-8";
body{
    background:url(../../../images/blogdet.jpg);
}
.form{background: rgba(255,255,255,0.2);width:500px;margin:120px auto;}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 3px;position: relative;color: #ccc;}


input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}/* CSS Document */

